@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#title{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    letter-spacing: 8px;
    text-align: center;
}
#header{
    font-family: 'Bungee Outline', cursive;
    color: black;
    font-weight: bold;

    position: absolute;
    left: 800px;
    margin-bottom: 125px;
}

.bend {
    position: relative;
    width: 520px;
    height:300px;
    z-index: -2;
    margin-left: 680px;
    margin-bottom: -80px;

    
  }

.bend span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 300px;
    margin-left: -35px;
    
    text-align: center;
    
  }
  .bend span:nth-of-type(1)  {
    transform: rotate(75deg);
  }
  .bend span:nth-of-type(2)  {
    transform: rotate(50deg);
  }
  .bend span:nth-of-type(3)  {
    transform: rotate(25deg);
  }
  .bend span:nth-of-type(4)  {
    transform: rotate(0deg);
  }
  .bend span:nth-of-type(5)  {
    transform: rotate(-25deg);
  }
  .bend span:nth-of-type(6)  {
    transform: rotate(-50deg);
  }
  .bend span:nth-of-type(7)  {
    transform: rotate(-75deg);
  }
 

  .inverso span {
    line-height: 70px;
    transform-origin: bottom center;
    
  }

#img{
    position: absolute;
    top:250px;
    left: 390px;

}

#choosenone{
    position: absolute;
    top:580px;
    left: 750px;
    
}

#choosenoneimg:hover{
    width:300px;
    height:150px;

}

#imagemoves,li{
  list-style: hiragana inside;
  border-radius: 50%;
  border-style: groove;
  background-color: white;
  font-family: 'Press Start 2P', cursive;

}

#imagemoves{
  position:absolute;
  top:1000px;
  left: 830px;
  font-family: 'Press Start 2P', cursive;
}
  
#evolveurl{

  position:absolute;
  top:500px;
  left: 900px;
  width:500px;
  height:300px;
}
